<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBweug5OeI0Ghu_DgF9pcYseXAGLDC8qg</string>
	<key>GCM_SENDER_ID</key>
	<string>903131753605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mbgTest</string>
	<key>PROJECT_ID</key>
	<string>mbgtd-c85fb</string>
	<key>STORAGE_BUCKET</key>
	<string>mbgtd-c85fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903131753605:ios:50ca2a835c6b70611b0dec</string>
</dict>
</plist>